

      <main>
        <p id="notice">Signed out successfully.</p>
        <div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <center><h1>welcome to <i class="fa-solid fa-book-tanakh"></i></i><strong>Bookers</strong>☆</h1>
      <p>In <i class="fa-solid fa-book-tanakh"></i><a>Bookers</a></p>
      <p>A lot of contributions will post a favorite book!</p></center>

      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
        <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">Log in</a>
        </div>
        <div class="row">
          <a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>

